body{
  margin: 0;
}

.App {
  background-color: #ffa637;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#281a03;
  font-family: 'Open Sans';
  font-weight: 600;
}

.back-icon {
  position: absolute;
  width: 20vh;
  height: 20vh;
  pointer-events: none;
}


